 
@{
}
<div id="SkillSetDiv" class="row">

    <div class="action-item col-sm-3 target">
        <div class="form-group">

            Technology :

            <input class="form-control text-box single-line" data-val="true" id="EditorTechnology" type="text" autocomplete="off">
        </div>

    </div>
    <div class="col-sm-3 target">
        <div class="form-group">

            Expertise  :


            <select class="form-control " id="DropDownForExpertise"  style="width:100%">
                <option value="-1">--- Please Select ---</option>
                <option value="0">Beginer</option>
                <option value="1">Intermediate </option>
                <option value="2">Expert</option>

            </select>
        </div>

    </div>

    <div class="col-sm-5 target">
        <div class="form-group">

            Remark :

            <input class="form-control text-box single-line" data-val="true" id="EditorFoRemark" type="text" autocomplete="off">
        </div>
    </div>




    <div class="col-sm-1 target">
     
            <a style="visibility:hidden"> Delete :</a>   @*just to make the button align *@
            <button id="Btn_DeleteSkillset" type="submit" style="height: 36px; width: 36px;  background-image: url('../Content/Images/close.png'); background-size:100%">
            </button>
        
    </div>
  

</div>

