
@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align:center">Register Employee</h1>

<div class="row">
    <div class="col-md-12">


        <div>
            <div class="form-group">

                Name :

                <input class="form-control text-box single-line" data-val="true" id="EditorForName" type="text" autocomplete="off" style="width:70%">
            </div>

            <div class="form-group">

                Designation :

                <input class="form-control text-box single-line" data-val="true" id="EditorForDesignation" type="text" autocomplete="off" style="width:20%">
            </div>


            <div class="form-group">

                Gender :

                <select class="form-control " id="DropDownForGender"  style="width:15%">
                    <option value="M">Male</option>
                    <option value="F">Female </option>
                    <option value="U">Unknown</option>

                </select>
            </div>
        </div>


    </div>
</div>

<u> </u>

<div class="form-content">
    <div class="panel panel-default">
        <div class="featured-box featured-box featured-box-dark featured-box-text-left jquery_accordion_content" style="    border-color: black;
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    ">


            <div class="container ">


                <div class="SkillSetHeaderClass">
                    <partial name="_SkillSet.cshtml">
                </div>

            </div>
            <div class="form-content">
                <br /><button id="Btn_AddSkillSet" class="btn-success">Add Skill</button>
            </div>

        </div>
    </div>
</div>



 <br/>

    <div class="col-sm-12 text-right">


        <input type="button" id="Btn_Create" class="btn btn-primary" value="Create Employee" />


    </div>
 


@section Scripts {

    <script type="text/javascript">

        $(document).on('click', '#Btn_AddSkillSet', function (e) {
            $.ajax({
                url: '/Employee/DisplayNewSkillSet',
                success: function (partialView) {
                    $('.SkillSetHeaderClass').append(partialView);
                }
            });
        });



        $(document).on("click", "#Btn_DeleteSkillset", function () {
            $(this).parent().parent().remove();
        });




        function geEmployee() {
            var emp = {

                EmpName: $("#EditorForName").val(),
                Designation: $("#EditorForDesignation").val(),
                Gender: $("#DropDownForGender").val()
            };

            return emp;
        }


        function getSkillsets() {
            skillSets = [];


            const EditorTechnology = document.querySelectorAll('#EditorTechnology');
            const DropDownForExpertise = document.querySelectorAll('#DropDownForExpertise');
            const EditorFoRemark = document.querySelectorAll('#EditorFoRemark');



            for (var i = 0; i < EditorTechnology.length; i++) {
                if (EditorTechnology[i].value != '') {
                    skillSets.push({
                        Technology: EditorTechnology[i].value,
                        Expertise: DropDownForExpertise[i].value,
                        Remark: EditorFoRemark[i].value
                    });
                }
            }

            return skillSets;
        }



        $(document).on('click', '#Btn_Create', function (e) {


            var emp =   geEmployee();
            var skillSets = getSkillsets();
          


            $.ajax({
                type: 'POST',
                data: {   emp, skillSets  },
                url: '/Employee/CreateEmployee',
                success: function () {
                   alert('Success!')
                }
            });
        });






        function RegisterEmployee() {
        }
 

    </script>
}
